[Service]
# Change this to an unused TTY
TTYPath=/dev/tty2

StandardInput=tty-fail
StandardOutput=tty
TTYVTDisallocate=yes

WorkingDirectory=/home/minecraft/%i

User=minecraft
Group=minecraft

PrivateUsers=true
ProtectSystem=full
ProtectHome=false
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
NoNewPrivileges=true

# Set default variables
Environment=JAVA_PARAMETERS=""
Environment=JAR_PATH=server.jar

# Override default variable values in environment file
EnvironmentFile=/home/minecraft/%i/systemd.conf

ExecStart=/usr/bin/sh -c "/usr/bin/java -server ${JAVA_PARAMETERS} -jar ${JAR_PATH} nogui"
Restart=on-failure
RestartSec=60s

KillSignal=SIGINT

[Unit]
Description=Minecraft Server - %i
After=network.target
ConditionPathExists=/home/minecraft/%i

[Install]
WantedBy=multi-user.target
